<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:>
  <head>
    <div th:replace="/fragments/navbar :: head">Head</div>
  </head>
  <body>
    <header class="header container">
      <div th:replace="/fragments/navbar :: navbar">Navbar</div>
<div class="row">
      <div class="col-xs. m-6 header__title ">
        <h1 class="title">
          Becoming
          <span class="highlight">is better</span>
          than <br />
          <span class="highlight">being.</span>
          -Carol S. Dweck
        </h1>
        <h4 class="subtitle">
          <span>All the support you need in your professional growth and health.</span>
        </h4>
        <img src="images/family.png" class="header__img col-xs. m-6" alt="psych-img" />
      </div>

</div>
      <nav class="navbar row">
        <ul class="nav__links">
          <li class="nav__item col-xs. m-3">
            <a class="nav__link" href="#section--1" style="opacity: 1"
              >Our mission</a
            >
          </li>
          <li class="nav__item col-xs. m-3">
            <a class="nav__link" href="#section--2">About as</a>
          </li>
        </ul>
      </nav>
    </header>

    <div  class="section container" id="section--1">
    <div class="row">
      <div class="header__title ">
        <h1 class="title">
          <span class="highlight">Our mission</span>
        </h1>
        <h4 class="subtitle col-xs. m-6">
          <b>Open Mind</b>  is a community-based space to find and contribute
          answers to questions in the Psychology, Social work and
          Speech therapy  fields challenges. We know the struggle of finding
          support in field where all information is privet,
          and we are morally obligated to this privacy. We know how hard it is to find advice,
          understanding or just  someone to laugh to field base jokes.
          So we are committed to bring together specialists from all around the world and
          create the community that we deserve.
          Find support, understanding, friendship. Find your village.
          The core focus of Open Mind is to serve its members through educational events,
          networking opportunities, resources, publication and promotion of research,
          and mentoring the next generation of social and personality psychologists. </br>
          <b>Benefits of joining Open Mind: </b> Access latest research in your field;
          direct contact with other bride minds;
        </h4>
        <img src="images/icon.png" class="header__img col-xs. m-6" alt="psych-img" />
      </div>
    </div>
    </div>

    <div class="section container" id="section--2">
      <div class="row">
        <div class="header__title ">
          <img

                  src="images/psyco.png"
                  alt="psychology"
                  class="features__img__side col-lg. m-4 "
          />

          <div class="features__feature col-lg. m-8 ">
            <h5 class="features__header highlight">Psychology</h5>
            <p>
              Psychology is the study of mind and behavior. It encompasses the biological influences, social pressures,
              and environmental factors that affect how people think, act, and feel.
              Gaining a richer and deeper understanding of psychology can help people achieve insights into their
              own actions as well as a better understanding of other people.
              The most obvious application for psychology is in the field of mental health where psychologists
              use principles, research, and clinical findings to help clients manage and overcome symptoms of mental
              distress and psychological illness.
              It is difficult to capture everything that psychology encompasses in just a brief definition,
              but topics such as development, personality, thoughts, feelings, emotions, motivations,
              and social behaviors represent just a portion of what psychology seeks to understand, predict, and explain.
              As a psychologists, we face a lot of challenges such as setting up your own practice; working with clients
              on a daily basis;  the stress that comes from the business aspect of running a businesses; balance between
              professional and personal life...
              But most of all professional isolation.</br>
              Open Mind is your place for professional support. Take the chance and meet other specialists working in the
              same field. Have the conversation, share the experiences, find support in professional and personal
              aspect and keep your clients privacy. <a th:href="@{/registration}">Register</a> now!
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="section container">
      <div class="row">
        <div class="header__title ">


          <div class="features__feature col-lg. m-8 ">
            <h5 class="features__header highlight">Social work</h5>
            <p>
              Social work is a practice-based profession and an academic discipline that promotes social change and
              development, social cohesion, and the empowerment and liberation of people. Principles of social justice,
              human rights, collective responsibility and respect for diversities are central to social work.
              Underpinned by theories of social work, social sciences, humanities and indigenous knowledges,
              social work engages people and structures to address life challenges and enhance wellbeing.
              The above definition may be amplified at national and/or regional levels.
              Social workers are professionals who aim to enhance overall well-being and help meet basic and complex
              needs of communities and people. Social workers work with many different populations and types of people,
              particularly focusing on those who are vulnerable, oppressed and living in poverty.
              The biggest challenge social workers face is emotional burnout: meeting people's tragedy every day
              and giving there best to help. Keeping good mental and emotional health is much easier around others who
              know your struggle. Become part of a community formed around your professional field.
              <a th:href="@{/registration}">Join now!</a>
            </p>
          </div>
          <img

                  src="images/socio2.png"
                  alt="psychology"
                  class="features__img ol-lg. m-4 "
          />
        </div>
      </div>
    </div>

    <div class="section container">
      <div class="row">
        <div class="header__title ">
          <img

                  src="images/speech2.png"
                  alt="psychology"
                  class="features__img__side col-lg. m-4 "
          />

          <div class="features__feature col-lg. m-8 ">
            <h5 class="features__header highlight">Speech therapy</h5>
            <p>
              Speech therapy is the assessment and treatment of communication problems and speech disorders.
              It is performed by speech-language pathologists (SLPs), which are often referred to as speech therapists.
              Speech therapy techniques are used to improve communication. These include articulation therapy,
              language intervention activities, and others depending on the type of speech or language disorder.
              Speech therapy may be needed for speech disorders that develop in childhood or speech
              impairments in adults caused by an injury or illness, such as stroke or brain injury.
              <a th:href="@{/registration}">Be prat of a team!</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div th:replace="/fragments/navbar:: footer">Footer</div>
    </footer>
    <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
  </body>
</html>
